.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.navbar .logo {
    width: 100px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 70px;
    color: #49557e;
    font-size: 18px;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right .search {
    width: 30px;
}



.navbar-right .cart {
    width: 30px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    /* background-color: #FF9494; */
    border: 1px solid #FF9494;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #FF9494;
    box-shadow: rgb(255, 132, 204) 0px 7px 29px 0px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-right .search:hover {
    transition: 0.1s;
    margin-top: -4px;
    position: relative;
    opacity: 100%;
}

.navbar-search-icon:hover {
    transition: 0.1s;
    margin-top: -4px;
    position: relative;
    opacity: 100%;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
    margin-left: 15px;
    border-radius: 11px;
    font-size: 17px;
    background: #bd5555;
    color: white;
}
