.service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    
}
.service h1 {
    font-weight: 700;
    display: inline-block;
    text-align: start;
    font-size: 48px;
    margin-top: 80px;

}
.service h1 span{
    color: #FF796D;
}

.service-list{
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.service-list-items{
    background-color: #f2f2f4;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    padding-top: 32.5px;
    padding-bottom: 40.6px;
    padding-left: 36,4px;
    padding-right: 36.4px;
    
}
.service-list-items h2{
    font-size: 22.4px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-weight: 700;
}

.service-list p{
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-bottom: 28.8px;
}

.service-list-items img{
    width: 63px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 42px;
}

.service-list-items-1{
    background-color: #f2f2f4;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    padding-top: 32.5px;
    padding-bottom: 28.6px;
    padding-left: 36,4px;
    padding-right: 36.4px;
    
}
.service-list-items-1 h2{
    font-size: 22.4px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: 700;
}


.service-list-items-1 img{
    width: 63px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 42px;
}


.service-list-items-2{
    background-color: #f2f2f4;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    padding-top: 32.5px;
    padding-bottom: 30.6px;
    padding-left: 36,4px;
    padding-right: 36.4px;
    
}
.service-list-items-2 h2{
    font-size: 22.4px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: 700;
}



.service-list-items-2 img{
    width: 63px;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 42px;
}

.service-list button{
    border: none;
    margin-right: 13rem;
    color: #FF796D;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
}

.service-list button:hover{
    color: black;
}
